@font-face {
    font-family: 'norse';
    src: url(./fonts/Norse-Bold.otf);
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: black;
    color: white;
    font-size: 24px;
    font-family: norse;
}
.imgContent{
    display: flex;
    height:100vh;
}
.mainContent{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px;
}
.input{
    font-size: 1em;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.user_form{
    border-radius: 5px;
    background-color: rgb(6, 6, 6);
    box-shadow: 0px 9px 12px 4px rgba(27,27,27,0.86);
    -webkit-box-shadow: 0px 9px 12px 4px rgba(27,27,27,0.86);
    -moz-box-shadow: 0px 9px 12px 4px rgba(27,27,27,0.86);
}
form{
    display: flex;
    flex-wrap: wrap;
    
}
.input input{
    width:200px;
    background-color: black;
    font-family: inherit;
    font-size: 1em;
    color: white;
    border: 2px solid grey;
    border-radius: 5px;
}

.input input:focus-within{
    border: 2px solid teal;
}
.input input:valid{
    border: 2px solid teal;
}
.input input:invalid{
    border: 2px solid red;
}



.submit input{
    margin: 10px;
    margin-left: 0;
    padding: 10px;
    background-color: black;
    color: teal;
    font-family: inherit;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid teal;
}
.submit input:hover{
    background-color: teal;
    color: black;
}
.submit p{
    font-family: inherit;
}
.submit a:hover{
    opacity: 0.8;
}
.submit a{
    color: teal;
    text-decoration: none;
    font-weight:900;
}