@font-face {
    font-family: 'norse';
    src: url(./fonts/Norse-Bold.otf);
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    background-color: black;
    color: white;
    font-size: 24px;
    font-family: norse;
}
.imgContent{
    position: relative;
    display: flex;
    height:100vh;
}
.mainContent{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 30px;
}
.input{
    font-size: 1em;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.user_form{
    border-radius: 5px;
    max-width: 800px;
}
form{
    display: flex;
    flex-wrap: wrap;
    
}
.input input{
    width:200px;
    background-color: black;
    font-family: inherit;
    font-size: 1em;
    color: white;
    border: 2px solid grey;
    border-radius: 5px;
}


.input input:valid{
    outline: none;
    border: 2px solid teal;
}


input:focus{
    outline: none;
    border: 2px solid teal;
}

.submit input{
    margin: 10px;
    margin-left: 0;
    padding: 10px;
    background-color: black;
    color: teal;
    font-family: inherit;
    font-size: 1em;
    border-radius: 5px;
    border: 2px solid teal;
}
.submit input:hover{
    background-color: teal;
    color: black;
}
.submit p{
    font-family: inherit;
}
.submit a:hover{
    opacity: 0.8;
}
.submit a{
    color: teal;
    text-decoration: none;
    font-weight:900;
}

.back{
    position: absolute;
    background-color: black;
    top: 20%;
    width: 100%;
    height: 100px;
    opacity: 0.3;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 17%;
    width: 100%;
}
.card h1{
    padding:20px;
}
.card h1::before{
    content: " 🦋 ";
}

.imgCredit{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
.imgCredit a{
    color: teal;
    text-decoration: none;
    font-weight:900;
}

@media only screen and (max-width: 922px) {
    body {
        padding: 0;
        margin: 0;
        display: flex;
        background-color: black;
        color: white;
        font-size: 24px;
        font-family: norse;
        flex-direction: column;
    }
    .imgContent{
        position: relative;
        display: flex;
        height:20vh;
    }
    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top:0;
        width: 100%;
        height: 20vh;
    }
    .card h1{
        padding:0px;
        margin: 2px;
    }
    .back{
        position: absolute;
        background-color: black;
        top: 0;
        width: 100%;
        height: 100px;
        opacity: 0.3;
    }
}